<%- include('../header.ejs') %>
    <%- include('../navbar.ejs') %>
        <div class="container" style="margin-top: 110px;">

            <table class="table table-border">
                <tr>
                    <th>S.no</th>
                    <th>Name</th>

                    <th>City</th>
                    <th>Address</th>
                    <th>Course</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <th>ytru</th>
                    <th>Action</th>

                </tr>
                <% i=1 %>
                    <% d.forEach((item)=>{ %>

                        <tr>
                            <td>
                                <%= i++ %>
                            </td>
                            <td>
                                <%=item.name%>
                            </td>

                            <td>
                                <%=item.city%>
                            </td>
                            <td>
                                <%=item.address%>
                            </td>

                            <td>
                                <%=item.course%>
                            </td>

                            <td>
                                <%=item.status%>
                            </td>
                            <td>
                                <form action="/update_approve/<%= item._id %>" method="post">
                                    <textarea name="comment"></textarea>
                                    <input type="hidden" name="name" value="<%= item.name %>">
                                    <input type="hidden" name="email" value="<%= item.email %>">
                            </td>
                            <td>
                                <button type="submit" name="status" class="btn btn-success"
                                    value="Approved">Approved</button>
                                <button type="submit" name="status" class="btn btn-danger"
                                    value="Reject">Reject</button>
                            </td>
                                </form>
                            
                            
                            <!-- <td>
                            <%=item.createdAt%>
                        </td>
                        <td>
                            <%=item.updatedAt%>
                        </td> -->
                            <td>
                                <a href="/courseView/<%=item._id%>" class="btn btn-primary">View</a>
                                <a href="courseEdit/<%=item._id%>" class="btn btn-info">Edit</a>
                                <a href="courseDelete/<%=item._id%>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        <% }) %>

            </table>

        </div>
        <%- include('../footer.ejs') %>
            <%- include('../script.ejs') %>