<%- include('header') %>
  <%- include('navbar') %>

    <section>
      <div class="container" style="margin-top: 10%;">
        <% if(msg.length> 0){ %>
          <div class="alert alert-success">
                  <%= msg %>
          </div>
          <% } %>
          <% if(msg1.length> 0){ %>
            <div class="alert alert-danger">
                    <%= msg1 %>
            </div>
            <% } %>
        <div class="row">
          <div class="col-md-4">
            <img src="<%= image.url %>" width="100%" style="border-radius: 50px;">
          </div>
          <div class="col-md-4">
            <div class="card mt-5" style="width: 100%;  border-radius: 2rem; background-color: aliceblue;">
              <div class="container mt-5">



                <form action="/profile_insert" method="post" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" value="<%= name %>" required id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" value="<%= email %>" readonly id="exampleInputPassword1">
                  </div>

                  <div class="mb-3">
                    <!-- <label class="form-label">Profile Picture</label> -->
                    <label for="exampleInputPassword1" class="form-label">Profile Image</label>
                    <input
                      type="file"
                      name="image"
                      class="form-control"
                      required
                    /><br>
                    <img src="<%= image.url %>"  width="50px" height="50px" alt="image">
                  </div>
                 
                  <button type="submit" class="btn btn-primary">Update Profile</button><br><br>
                </form>
                <!-- <span class=" text-center pt-3">HAVE AN ACCOUNT?
                    <a style="color: #393f81;" href="/login.html">LOGIN NOW</a>
                </span> -->
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mt-5" style="width: 100%;  border-radius: 2rem; background-color: aliceblue;">
              <div class="container mt-5" >



                <form action="/change_password" method="post" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Old Password</label>
                    <input type="password" class="form-control" name="oldPass" required id="oldPass" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="newPass" required id="newPass">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="cPass" required id="cPass">
                  </div>

                  <button type="submit" class="btn btn-primary">Change Password</button><br><br>
                </form>
                <!-- <span class=" text-center pt-3">HAVE AN ACCOUNT?
                    <a style="color: #393f81;" href="/login.html">LOGIN NOW</a>
                </span> -->
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><br>